@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


/* custom styles */
body {
  font-family: sans-serif;
}

@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-gray-500
  }
   .btn_white_text  { 
    @apply  border-white bg-white px-8 py-3 text-gray-900
  }
} .btn_green  { 
    @apply  border-green-500 bg-green-500 px-8 py-5 text-white
  }
  .btn_dark_green { 
    @apply  bg-green-900 px-8 py-4 text-white transition-all hover:bg-black
  }
  .btn_dark_green_outline  { 
    @apply border-gray-200 bg-green-900 px-8 py-5 text-white
  }
  .btn_blue  { 
    @apply border-black bg-blue-500 px-8 py-4 text-white 
  }
  
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-2 lg:px-10;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }
  
 /* FONTS */
  .regular-64 {
    @apply text-[64px] font-normal leading-[120%];
  }
  .regular-40 {
    @apply text-[40px] font-normal leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-normal;
  }

  .regular-24 {
    @apply text-[24px] font-normal;
  }

  .regular-20 {
    @apply text-[20px] font-normal;
  }

  .regular-18 {
    @apply text-[18px] font-normal;
  }

  .regular-16 {
    @apply text-[16px] font-normal;
  }

  .regular-14 {
    @apply text-[14px] font-normal;
  }

    .regular-12 {
    @apply text-[12px] font-normal;
  }

  .medium-14 {
    @apply text-[14px] font-semibold;
  }

  .bold-88 {
    @apply text-[88px] font-bold leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-bold  leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-bold  leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-bold  leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-bold  leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-bold ;
  }

  .bold-18 {
    @apply text-[18px] font-bold ;
  }

  .bold-16 {
    @apply text-[16px] font-bold ;
  }
    /* Hero */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen md:-right-28 xl:-top-60;
  }
  /* Camp */
  .camp-quote {
    @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 2xl:right-0;
  }
 /* Feature */
  .feature-phone {
    @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-15 md:-left-16 lg:flex  2xl:left-20;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
  /* Get App */
  .get-app {
    @apply max-w-7xl mx-auto relative flex w-full  flex-col justify-between gap-32 overflow-hidden  bg-green-900 bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-3xl;
  }
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.testimonialbg {
    background: linear-gradient(-60deg, #1CBEEE 29.34%, #1A21BC 107.98%);
    /* background-image: url('/assets/newsletter/bgFile.webp'); */
    clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 100%, 0 20%);
}
.clipPath {
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
}

.space-links {
    transition: .3s;
}

.space-links:hover {
    letter-spacing: 1px;
}

.lh-120 {
    line-height: 120% !important;
}

.lh-160 {
    line-height: 160% !important;
}

.footer-icons {
    transition: .5s;
}

.footer-icons:hover {
    transform: translateY(-8px);
}

.footer-icons:hover>.sepiaa {
    filter: invert(100.10);
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #1A21BC!important;
}

.slick-dots li button:before {
    font-size: 11px!important;
}

.slick-prev {
    left: 69rem!important;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -14%!important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
@media (min-width: 800px) {
    .lh-82 {
        line-height: 82px !important;
    }
}

.input-shadow {
    box-shadow: 0px 63px 59px rgba(26, 33, 188, 0.1);
}

.w-270 {
    width: 270px;
}

@media (max-width: 450px) {
    .smallImage {
        width: 15px;
    }
}

.shadow-courses {
    box-shadow: 0px 40px 20px rgba(0, 0, 0, 0.15);
}

.testimonial-shadow {
    box-shadow: 0px 5.54348px 11.087px rgba(89, 104, 118, 0.05);
    border-radius: 22.1739px;
}

.middleDiv {
    box-shadow: 5.54348px 38.8043px 110.87px rgba(89, 104, 118, 0.15)!important;
    border-radius: 22.1739px;
    transform: scale(1.05);
}

.slick-dots {
    color: #1A21BC;
}

.leftRightAngle {
    width: 0px;
    height: 0px;
    border: 200px solid;
    border-bottom-color: brown;
    border-top-color: transparent;
    border-left-color: brown;
    border-right-color: transparent;
}

.bg-imagee {
    background-image: url('/assets/newsletter/bgFile.webp');
    background-size: cover;
    border-radius: 20px;
}
